---
import About from "../components/About.astro";
import Certifications from "../components/Certifications.astro";
import CTA from "../components/CTA.astro";
import Hero from "../components/Hero.astro";
import Marquee from "../components/Marquee.astro";
import Process from "../components/Process.astro";
import Projects from "../components/Projects.astro";
import TechStack from "../components/TechStack.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Marquee />
    <About />
    <TechStack/>
    <Projects />
    <Certifications />
    <Process />
      <CTA/>
  </main>
</Layout>
