---
import {
  ArrowRight,
  Mail,
  Github,
  Linkedin,
  ExternalLink,
} from "@lucide/astro";
---

<section class="py-28 relative overflow-hidden" id="cta">
  <div
    class="absolute inset-0 bg-[radial-gradient(ellipse_60%_50%_at_0%_0%,#2d1b6b40_0%,transparent_100%)]"
  >
  </div>
  <div
    class="absolute inset-0 bg-[radial-gradient(ellipse_60%_50%_at_100%_100%,#1a0f4a60_0%,transparent_100%)]"
  >
  </div>
  <div
    class="absolute inset-0 bg-[radial-gradient(ellipse_80%_60%_at_50%_50%,#0f0a2a30_0%,transparent_100%)]"
  >
  </div>

  <div class="relative z-10 max-w-7xl mx-auto px-6 flex flex-col items-center text-center gap-10">
    <!-- Title -->

    <div class="col-span-2 flex justify-center flex-col items-center gap-3">
      <p class="text-sm text-white/30">// &nbsp&nbsp CONTACTO</p>
      <h4 class="text-5xl font-bold">
        Hablemos de tu <br />
        <span
          class="bg-linear-to-r from-purple-400 to-45% to-blue-400 bg-clip-text text-transparent"
          >próximo proyecto</span
        >
      </h4>
      <p class="text-lg text-gray-400/90 w-1/2">
        Entiendo el caos, lo ordeno y lo transformo en algo que funcione. Si
        tienes algo en mente, escríbeme — respondo rápido.
      </p>
    </div>

    <!-- Buttons -->
    <div class="flex flex-wrap gap-3">
      <button
        onclick="document.getElementById('projects').scrollIntoView({ behavior: 'smooth' })"
        class="w-full lg:w-auto justify-center flex group gap-1 cursor-pointer hover:brightness-120 items-center bg-[#7c5cfc] shadow-lg hover:shadow-purple-500/20 hover:-translate-y-1 transition-all duration-300 px-6 py-3 rounded-xl font-semibold"
      >
        <ExternalLink class="w-5" />
        Escribeme
      </button>

      <button
        onclick="document.getElementById('cta').scrollIntoView({ behavior: 'smooth' })"
        class="w-full lg:w-auto justify-center flex group gap-2 cursor-pointer hover:backdrop-brightness-150 items-center bg-[#0e1020]/80 ring hover:ring-white hover:-translate-y-1 transition-all duration-300 ring-white/6 px-6 py-3 rounded-xl font-semibold"
      >
        <Github class="w-5" />
        Linkedin
      </button>
    </div>


    <div class="flex w-full  items-center opacity-80">
      <div class="w-full h-px bg-linear-to-l from-white/30 to-transparent"></div>
      <p class="text-sm text-white/30 w-100 text-center">O encuéntrame en</p>
      <div class="w-full h-px bg-linear-to-r from-white/30 to-transparent"></div>

    </div>


    <!-- Social Icons -->
    <div class="flex gap-3 mt-4">
      <a href="#" class=" gap-3 px-3 h-10 border bg-[#0e1020]/80 border-white/6 rounded-xl flex items-center justify-center hover:border-white/30 hover:bg-white/5 transition-all duration-300">
        <Github class="w-4 h-4 text-gray-400" />
        <span class="text-white/30">Github</span>
      </a>
      <a
        href="#"
        class=" gap-3 px-3 h-10 border bg-[#0e1020]/80 border-white/6 rounded-xl flex items-center justify-center hover:border-white/30 hover:bg-white/5 transition-all duration-300"
      >
        <Linkedin class="w-4 h-4 text-gray-400" />
        <span class="text-white/30">Linkedin</span>
      </a>
      <a
        href="#"
        class=" gap-3 px-3 h-10 border bg-[#0e1020]/80 border-white/6 rounded-xl flex items-center justify-center hover:border-white/30 hover:bg-white/5 transition-all duration-300"
      >
        <Mail class="w-4 h-4 text-gray-400" />
        <span class="text-white/30">Descargar CV</span>
      </a>
    </div>
  </div>
</section>
