---
import {
  ArrowRight,
  Mail,
  Github,
  Linkedin,
  ExternalLink,
  Download,
} from "@lucide/astro";
---

<section class="py-28 relative overflow-hidden" id="cta">
  <div
    class="relative z-10 max-w-7xl mx-auto px-6 flex flex-col items-center text-center gap-10"
  >
    <!-- Title -->

    <div class="col-span-2 flex justify-center flex-col items-center gap-3">
      <p class="text-sm font-mono tracking-widest text-white/30">06 — CONTACTO</p>
      <h2 class="text-4xl lg:text-5xl font-bold tracking-tight">
        Hablemos de tu <br />
        <span class="text-white/40">próximo proyecto</span>
      </h2>
      <p class="text-lg text-gray-400/90 lg:w-1/2 w-full">
        Entiendo el caos, lo ordeno y lo transformo en algo que funcione. Si
        tienes algo en mente, escríbeme — respondo rápido.
      </p>
    </div>

    <div class="flex flex-wrap gap-3">
      <!-- WhatsApp -->
      <a
        href="https://wa.me/593963123381"
        target="_blank"
        rel="noopener noreferrer"
        class="w-full lg:w-auto justify-center flex group gap-2 cursor-pointer items-center bg-[#7c5cfc] hover:bg-[#9f82ff] transition-colors duration-200 px-6 py-3 rounded-full font-semibold"
      >
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347z"
          ></path><path
            d="M12 0C5.373 0 0 5.373 0 12c0 2.087.537 4.046 1.475 5.754L0 24l6.437-1.438A11.945 11.945 0 0 0 12 24c6.627 0 12-5.373 12-12S18.627 0 12 0zm0 21.818a9.818 9.818 0 0 1-5.006-1.372l-.36-.214-3.719.83.888-3.618-.235-.372A9.818 9.818 0 1 1 12 21.818z"
          ></path>
        </svg>
        WhatsApp
      </a>

      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/in/ifabridiaz/"
        target="_blank"
        rel="noopener noreferrer"
        class="w-full lg:w-auto justify-center flex group gap-2 cursor-pointer items-center bg-[#1d1d1d] hover:bg-[#7c5cfc] transition-colors duration-200 px-6 py-3 rounded-full font-semibold"
      >
        <Linkedin class="w-5" />
        LinkedIn
      </a>

      <!-- Copiar correo -->
      <button
        onclick="navigator.clipboard.writeText('fabriciodiazpay@gmail.com').then(() => {
      this.querySelector('.email-text').innerText = '¡Copiado!';
      setTimeout(() => this.querySelector('.email-text').innerText = 'fabriciodiazpay@gmail.com', 2000);
    })"
        class="w-full lg:w-auto justify-center flex group gap-2 cursor-pointer items-center bg-[#1d1d1d] hover:bg-[#7c5cfc] transition-colors duration-200 px-6 py-3 rounded-full font-semibold"
      >
        <Mail class="w-5" />
        <span class="email-text">fabriciodiazpay@gmail.com</span>
      </button>
    </div>

    <div class="flex w-full items-center opacity-80">
      <div class="w-full h-px bg-linear-to-l from-white/30 to-transparent">
      </div>
      <p class="text-sm text-white/30 w-100 text-center">O encuéntrame en</p>
      <div class="w-full h-px bg-linear-to-r from-white/30 to-transparent">
      </div>
    </div>

    <!-- Social Icons -->
    <div class="flex justify-center items-center flex-wrap gap-3 mt-4">
      <a
        href="https://github.com/freykill"
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer gap-3 px-3 h-10 border bg-[#161616] border-white/6 rounded-full flex items-center justify-center hover:border-white/30 transition-colors duration-200"
      >
        <Github class="w-4 h-4 text-gray-400" />
        <span class="text-white/30">Github</span>
      </a>
      <a
        href="https://www.linkedin.com/in/ifabridiaz/"
        target="_blank"
        rel="noopener noreferrer"
        class="cursor-pointer gap-3 px-3 h-10 border bg-[#161616] border-white/6 rounded-full flex items-center justify-center hover:border-white/30 transition-colors duration-200"
      >
        <Linkedin class="w-4 h-4 text-gray-400" />
        <span class="text-white/30">Linkedin</span>
      </a>
      <a
        href="/cv.pdf"
        download="IVAN_DIAZ_CV.pdf"
        class="cursor-pointer gap-3 px-3 h-10 border bg-[#161616] border-white/6 rounded-full flex items-center justify-center hover:border-white/30 transition-colors duration-200"
      >
        <Download class="w-4 h-4 text-gray-400" />
        <span class="text-white/30">Descargar CV</span>
      </a>
    </div>
  </div>
</section>
