---
import { ArrowRight, Mail } from "@lucide/astro";
import Terminal from "./components/terminal.astro";
---

<section class="lg:h-screen h-auto bg-[#0a0a1a] relative overflow-hidden py-20 flex items-center justify-center">

<div class="absolute inset-0 bg-[radial-gradient(ellipse_60%_50%_at_0%_0%,#2d1b6b40_0%,transparent_100%)]"></div>
<div class="absolute inset-0 bg-[radial-gradient(ellipse_60%_50%_at_100%_100%,#1a0f4a60_0%,transparent_100%)]"></div>
<div class="absolute inset-0 bg-[radial-gradient(ellipse_80%_60%_at_50%_50%,#0f0a2a30_0%,transparent_100%)]"></div>

  <div class="max-w-7xl mx-auto px-6 grid grid-cols-2 items-center justify-center gap-15 relative z-10">
    
    
    <div class="col-span-2 lg:col-span-1 flex flex-col justify-center gap-8">
      
        <div class="border-green-400 bg-green-500/10 mb-3 py-2 w-50 border px-3 rounded-full flex items-center gap-2 text-xs">
          <div class="relative flex items-center justify-center w-2 h-2">
            <div class="absolute bg-green-500 rounded-full w-2 h-2 animate-ping opacity-75"></div>
            <div class="bg-green-600 rounded-full w-2 h-2"></div>
        </div>
          <p class="text-green-400">Disponible para proyectos</p>
        </div>

        <!-- title principal -->
        <h4 class="text-4xl lg:text-5xl leading-tight font-bold text-left wrap-break-word">
          Full-Stack Developer.
          <span
            class="">
            Rompiendo 
            Refactorizando
          </span>
          <br />
          <span class="bg-linear-to-r font-mono  from-purple-400 to-45% to-blue-400 bg-clip-text text-transparent"
            >¡Solucionando!
          </span>
        </h4>

        <!-- description -->
        <p class="text-lg text-white/35  text-left ">
          Me dedico a construir sistemas con 
          <span class="text-white font-semibold">Angular,</span>
          <span class="text-white font-semibold">.NET,</span> 
          <span class="text-white font-semibold">Node y</span>  
          <span class="text-white font-semibold">AWS.</span> <br>
          Mi enfoque es simple: entiendo el caos, lo ordeno y lo transformo en algo
          que funcione. Al final, todo problema se rinde ante un buen cafe
          y un momento de enfoque.
        </p>

        <!-- botonera -->
        <div class="flex flex-wrap gap-3">
          <button onclick="document.getElementById('projects').scrollIntoView({ behavior: 'smooth' })"
            class=" w-full lg:w-60 justify-center  flex group gap-1 cursor-pointer hover:brightness-120 items-center bg-[#7c5cfc] shadow-lg hover:shadow-purple-500/20 hover:-translate-y-1 transition-all duration-300  px-6 py-3 rounded-xl font-semibold"
          >
              Ver proyectos
            <ArrowRight
              class="w-5 transition-transform duration-300 group-hover:translate-x-1"
            />
          </button>

          <button onclick="document.getElementById('cta').scrollIntoView({ behavior: 'smooth' })"
            class="w-full lg:w-60 justify-center flex group gap-2 cursor-pointer  hover:backdrop-brightness-150 items-center bg-[#0e1020]/80  ring hover:ring-[#7c5cfc] hover:-translate-y-1 transition-all duration-300 ring-white/6 px-6 py-3 rounded-xl font-semibold"
          >
            <Mail class="w-5" />
            Trabajemos juntos
          </button>
        </div>

        <!-- stack -->
        <div class="flex flex-wrap items-center gap-2  text-sm">
          <p class="text text-white/30">STACK</p>
          <p class="text text-white/30">/</p>
          
          <div class="bg-white/5 px-2 py-1 rounded-lg border border-white/6  text-white/90 hover:bg-[#7c5cfc]/6 hover:text-[#7c5cfc]/90">Angular</div>
          <div class="bg-white/5 px-2 py-1 rounded-lg border border-white/6 text-white/90 hover:bg-[#7c5cfc]/6 hover:text-[#7c5cfc]/90">TypeScript</div>
          <div class="bg-white/5 px-2 py-1 rounded-lg border border-white/6 text-white/90 hover:bg-[#7c5cfc]/6 hover:text-[#7c5cfc]/90">.NET</div>
          <div class="bg-white/5 px-2 py-1 rounded-lg border border-white/6 text-white/90 hover:bg-[#7c5cfc]/6 hover:text-[#7c5cfc]/90">AWS</div>

        </div>

        <!-- stats -->
        <!-- <div class="flex gap-10 mt-10">
          <div class="flex flex-col">
            <h4 class="p-0 font-bold text-2xl">5+</h4>
            <span class="text-xs p-0 text-gray-400">Years Experience</span>
          </div>

          <div class="flex flex-col">
            <h4 class="p-0 font-bold text-2xl">50+</h4>
            <span class="text-xs p-0 text-gray-400">Projects Completed</span>
          </div>

          <div class="flex flex-col">
            <h4 class="p-0 font-bold text-2xl">99.9%</h4>
            <span class="text-xs p-0 text-gray-400">Client Satisfaction</span>
          </div>
        </div> -->
    </div>

    <!-- IMG -->
    <div class="col-span-2 lg:col-span-1 flex justify-end items-center">
      <!-- <div class="relative rounded-xl w-full lg:w-125 lg:h-75 h-75 flex justify-center items-center shadow-lg">
        <img
          src="../../public/hero.jpg"
          class="rounded-xl w-full h-full object-cover opacity-90"
          alt="Coffee"
        />
        <div
          class="absolute -bottom-3 -right-3 bg-gray-900/80 text-green-400 px-3 py-1 rounded-lg text-xs flex items-center gap-2 shadow"
        >
          <div class="w-2 h-2 bg-green-500 rounded-full animate-pulse"></div>
          <span class="font-semibold text-white">System Online</span>
        </div>
      </div>
    </div> -->

    <Terminal></Terminal>


  </div>


  

  <!-- tooltip de disponible -->

  <!-- message principal -->
</section>
