---
---

<section class="py-20">
  <div class="max-w-7xl mx-auto px-6 grid grid-cols-2 items-center justify-center gap-10">

    <div class="col-span-2 flex justify-center flex-col items-start gap-3">
      <p class="text-sm text-white/30">// &nbsp&nbsp HERRAMIENTAS</p>
      <h4 class="text-5xl font-bold">
        Tech <span
          class="bg-linear-to-r from-purple-400 to-45% to-blue-400 bg-clip-text text-transparent"
          >Stack</span
        >
      </h4>
      <p class="text-lg text-gray-400/90">
Las herramientas con las que trabajo día a día.      </p>
    </div>

    <div class="col-span-2 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3">

     

      <!-- Angular -->
      <div class="border-l-2 col-span-2 lg:col-span-1 border-l-red-500/70 hover:bg-red-500/10 flex flex-col gap-2 p-5 rounded-xl shadow bg-[#0e1020]/80 hover:-translate-y-1 transition-all duration-300">
      <h4 class="font-bold text-lg text-red-500">Angular</h4>
      <span class="text-gray-400">Aplicaciones web empresariales</span>
      </div>

      <!-- NodeJS -->
      <div class="border-l-2 col-span-2 lg:col-span-1 border-l-green-500/70 hover:bg-green-500/10 flex flex-col gap-2 p-5 rounded-xl shadow bg-[#0e1020]/80 hover:-translate-y-1 transition-all duration-300">
      <h4 class="font-bold text-lg text-green-500">NodeJS</h4>
      <span class="text-gray-400">Entorno JavaScript para desarrollo servidor</span>
      </div>

      <!-- Tailwind CSS -->
      <div class="border-l-2 col-span-2 lg:col-span-1 border-l-sky-500/70 hover:bg-sky-500/10 flex flex-col gap-2 p-5 rounded-xl shadow bg-[#0e1020]/80 hover:-translate-y-1 transition-all duration-300">
      <h4 class="font-bold text-lg text-sky-400">Tailwind CSS</h4>
      <span class="text-gray-400">Estilos basados en utilidades</span>
      </div>

      <!-- TypeScript -->
      <div class="border-l-2 col-span-2 lg:col-span-1 border-l-blue-500/70 hover:bg-blue-500/10 flex flex-col gap-2 p-5 rounded-xl shadow bg-[#0e1020]/80 hover:-translate-y-1 transition-all duration-300">
      <h4 class="font-bold text-lg text-blue-400">TypeScript</h4>
      <span class="text-gray-400">Tipado estático y mayor robustez</span>
      </div>

      <!-- PrimeNG -->
      <div class="border-l-2 col-span-2 lg:col-span-1 border-l-indigo-500/70 hover:bg-indigo-500/10 flex flex-col gap-2 p-5 rounded-xl shadow bg-[#0e1020]/80 hover:-translate-y-1 transition-all duration-300">
      <h4 class="font-bold text-lg text-indigo-400">PrimeNG</h4>
      <span class="text-gray-400">Componentes UI para Angular</span>
      </div>

      

      <!-- .NET -->
      <div class="border-l-2 col-span-2 lg:col-span-1 border-l-purple-500/70 hover:bg-purple-500/10 flex flex-col gap-2 p-5 rounded-xl shadow bg-[#0e1020]/80 hover:-translate-y-1 transition-all duration-300">
      <h4 class="font-bold text-lg text-purple-400">.NET</h4>
      <span class="text-gray-400">APIs y servicios backend</span>
      </div>

      <!-- AWS -->
      <div class="border-l-2 col-span-2 lg:col-span-1 border-l-orange-500/70 hover:bg-orange-500/10 flex flex-col gap-2 p-5 rounded-xl shadow bg-[#0e1020]/80 hover:-translate-y-1 transition-all duration-300">
      <h4 class="font-bold text-lg text-orange-400">AWS</h4>
      <span class="text-gray-400">Nube, despliegue y servicios</span>
      </div>

     

      <!-- Docker -->
      <div class="border-l-2 col-span-2 lg:col-span-1 border-l-cyan-500/70 hover:bg-cyan-500/10 flex flex-col gap-2 p-5 rounded-xl shadow bg-[#0e1020]/80 hover:-translate-y-1 transition-all duration-300">
      <h4 class="font-bold text-lg text-cyan-400">Docker</h4>
      <span class="text-gray-400">Entornos reproducibles</span>
      </div>

    </div>
  </div>
</section>
